


.container {
    width:100vw;
    height:100vh;
    background-color:whitesmoke;
    display: flex;
    justify-content:center;
    align-items: center;
  }

.error-request p{
    margin:0px;
}

.content p{
    margin:0px;
    margin-left: 30px;
}

.bgcolor{
    background-color: wheat;
}